.main-container {
  padding: 20px !important;
}

.main-reset-section {
  padding: 20px 2px 20px 2px;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  border-radius: 4px;
  box-shadow: 0px 1px 5px rgba(168, 166, 166, 0.8);
  background: #fff;
}

.main-reset-section h3 {
  font-size: 22px;
  color: rgb(44, 42, 42);
  font-weight: bold;
}

.main-reset-section p {
  color: rgb(25, 24, 24);
  font-size: 17px;
}

.main-reset-section input {
  margin-top: 8px;
  width: 100%;
  padding: 10px 5px;
  border-radius: 2px;
  background-color: #fffafa;
  border: 1px solid rgb(223, 205, 205) !important;
}

.main-reset-section label {
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-size: 15px;
}

#link-btn {
  margin-top: 10px;
  text-decoration: none;
  font-size: 14px;
}

#cancil-button {
  border-radius: 2px;
  background: #e9e9e9;
  margin: 10px 5px;
  color: #000000;
}

#cancil-button:hover {
  background: #eaeaea;
  color: #1a1919;
}

#continue-button {
  border-radius: 2px;
  background: #ff5e14;
  margin: 10px 5px;
  color: #fff;
}

#continue-button:hover {
  background: #ff5e14;
  color: #fff;
}
