.main-container {
  padding: 20px !important;
}

.update-password-section {
  padding: 20px 2px 20px 2px;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  border-radius: 4px;
  box-shadow: 0px 1px 5px rgba(168, 166, 166, 0.8);
  background: #fff;
}

.update-password-section h3 {
  font-size: 22px;
  color: rgb(44, 42, 42);
  font-weight: bold;
}

.update-password-section p {
  color: rgb(41, 38, 38);
  font-size: 14px;
}

.update-password-section input {
  margin-top: 10px;
  width: 100%;
  padding: 8px 5px;
  border-radius: 2px;
  background-color: #fffafa;
  border: 1px solid rgb(223, 205, 205) !important;
}

.update-password-section a {
  font-size: 15px;
  text-decoration: none;
}

.update-password-section button {
  border-radius: 2px;
  background: #ff5e14;
  margin: 10px 5px;
  color: #fff;
}

.update-password-section button:hover {
  background: #ff5e14;
  color: #fff;
}
