body {
  cursor: url("./images/cursor.png"), auto;
  background: rgb(245, 245, 245) !important;
}

.btn,
input {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.btn,
input,
.btn:active,
input:active,
input:focus,
.btn:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
